/* selects all, has to be in the beginning to not overwrite styles
* { 
    text-align: right;
} */

body {
    background-color: rgb(255, 224, 199);
    font-family: sans-serif;
    background: url(../images/pexelboy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200vh;
} /*Allt i body får sans-serif font*/

nav {
    text-align: center;
    background-color: white;
    padding: 30px;
}

/* unvisted link (MUST come before hover) */
a:link {
    color: red;
}

/* visted link (MUST come before visted) */
a:visited {
    color: green;
}

/* mouse hover over link*/
a:hover {
    color: hotpink;
}

/* selekted link */
a:active {
    color: blue;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}
/* FIRST OF TYPE DOES NOT WORK */
h3 {
    color: blue;
    text-align: center;
}

h3:first-of-type { /* pseudoelement, in this case - affects first of this tag */
    color: black;
}

p {
    font-size: 20px;
}

/* DISPLAY: INLINE-BLOCK */
.container1 {
    background-color: red;
    border: 5 px solid purple; /* visas ej??*/
    display: inline-block;
    height: 200px;
    width: 400px;
    padding: 20px;
    margin: 30px 60px;
    overflow: scroll;
}

.container-content {
    width: 60%;
    height: 100%;
    margin: auto;
}

.container2 {
    background-color: blue;
    display: inline-block;
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 30px 60px;
    overflow: scroll;
}

.container3 {
    background-color: green;
    display: inline-block;
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 30px 60px;
    overflow: scroll;
}
/* DISPLAY: BLOCK */
.grid-container {
    background-color: cadetblue;
    display: flex;
    flex-wrap: nowrap; /*do not wrap flex items*/
    justify-content: space-around; /* space flex content evenly*/
    align-items: center;
}

.block > div {
    background-color: salmon;
    display: inline-block;
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 30px;
}

.words { /* <span> element inline*/
    color: red;
}

span {
    color: rgb(230, 86, 158);
}

.words, span { /* selects several elements/classes */
    font-size: 30px;
}

section {
    background-color: rgb(255, 255, 255, 0.6);
    margin: 30px 60px;
    padding: 50px;
}

img {
    border: 5px dotted white;
    border-top: 10px dotted white;
    box-shadow: 10px 15px 20px salmon; /*horisontal offset, vertical offset, blur, color */
}

/* .hero {
    width: 100%;
    height: 100vh;
}*/

/* Priority
1 In-line style
2 Internal style
3 External style 

style written last if written twice (intro to css)*/

footer {
    text-align: center;
    padding-bottom: 20px;
}